//== Cores ==//
$blue: #556ee6;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f46a6a;
$orange: #f1734f;
$yellow: #f1b44c;
$green: #34c38f;
$teal: #050505;
$cyan: #50a5f1;

.form-check {
    padding-top: 5px;
}

.paginaInicial {
    margin-left: 0 !important;
}

.bonusIcone {
    content: url(assets/images/bonus.svg);
}

.modalBonus {
    border: 1px solid #556ee6;
}

.CorVerde {
    color: $green;
}

.avatarRanking {
    font-size: 15px;
    font-weight: 600;
}

.avatar-sm {
    height: 2rem !important;
    width: 2rem !important;
}

.descritivoInicial {
    float: right;
    width: 330px;
    color: #74788d;
    opacity: 0.7;
    margin-top: -15px;
}

//==  Simulador.html  ==//
.hackTabelaAltura {

    color: transparent !important;
    user-select: none;

}

//== FILTROS inicio.html ==//
#datepicker4 {
    cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #2a3042 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #2a3042;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.selectFiltros {
    border: 1px solid #ced4da !important;
}