@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-flag:before { content: "\f100"; }
.flaticon-002-trophy:before { content: "\f101"; }
.flaticon-003-podium:before { content: "\f102"; }
.flaticon-004-medal:before { content: "\f103"; }
.flaticon-005-diploma:before { content: "\f104"; }
.flaticon-006-badge:before { content: "\f105"; }
.flaticon-007-badge:before { content: "\f106"; }
.flaticon-008-diploma:before { content: "\f107"; }
.flaticon-009-trophy:before { content: "\f108"; }
.flaticon-010-trophy:before { content: "\f109"; }
.flaticon-011-medal:before { content: "\f10a"; }
.flaticon-012-diploma:before { content: "\f10b"; }
.flaticon-013-trophy:before { content: "\f10c"; }
.flaticon-014-medal:before { content: "\f10d"; }
.flaticon-015-diploma:before { content: "\f10e"; }
.flaticon-016-trophy:before { content: "\f10f"; }
.flaticon-017-crown:before { content: "\f110"; }
.flaticon-018-flags:before { content: "\f111"; }
.flaticon-019-trophy:before { content: "\f112"; }
.flaticon-020-medal:before { content: "\f113"; }
.flaticon-021-medal:before { content: "\f114"; }
.flaticon-022-medal:before { content: "\f115"; }
.flaticon-023-medal:before { content: "\f116"; }
.flaticon-024-medal:before { content: "\f117"; }
.flaticon-025-badge:before { content: "\f118"; }
.flaticon-026-medal:before { content: "\f119"; }
.flaticon-027-flag:before { content: "\f11a"; }
.flaticon-028-medal:before { content: "\f11b"; }
.flaticon-029-medal:before { content: "\f11c"; }
.flaticon-030-badge:before { content: "\f11d"; }
.flaticon-031-diploma:before { content: "\f11e"; }
.flaticon-032-trophy:before { content: "\f11f"; }
.flaticon-033-medal:before { content: "\f120"; }
.flaticon-034-badge:before { content: "\f121"; }
.flaticon-035-winner:before { content: "\f122"; }
.flaticon-036-medal:before { content: "\f123"; }
.flaticon-037-medal:before { content: "\f124"; }
.flaticon-038-trophy:before { content: "\f125"; }
.flaticon-039-medal:before { content: "\f126"; }
.flaticon-040-diamond:before { content: "\f127"; }
.flaticon-041-badge:before { content: "\f128"; }
.flaticon-042-sheriff-badge:before { content: "\f129"; }
.flaticon-043-medal:before { content: "\f12a"; }
.flaticon-044-trophy:before { content: "\f12b"; }
.flaticon-045-badge:before { content: "\f12c"; }
.flaticon-046-medal:before { content: "\f12d"; }
.flaticon-047-badge:before { content: "\f12e"; }
.flaticon-048-medal:before { content: "\f12f"; }
.flaticon-049-trophy:before { content: "\f130"; }
.flaticon-050-badge:before { content: "\f131"; }

$font-Flaticon-001-flag: "\f100";
$font-Flaticon-002-trophy: "\f101";
$font-Flaticon-003-podium: "\f102";
$font-Flaticon-004-medal: "\f103";
$font-Flaticon-005-diploma: "\f104";
$font-Flaticon-006-badge: "\f105";
$font-Flaticon-007-badge: "\f106";
$font-Flaticon-008-diploma: "\f107";
$font-Flaticon-009-trophy: "\f108";
$font-Flaticon-010-trophy: "\f109";
$font-Flaticon-011-medal: "\f10a";
$font-Flaticon-012-diploma: "\f10b";
$font-Flaticon-013-trophy: "\f10c";
$font-Flaticon-014-medal: "\f10d";
$font-Flaticon-015-diploma: "\f10e";
$font-Flaticon-016-trophy: "\f10f";
$font-Flaticon-017-crown: "\f110";
$font-Flaticon-018-flags: "\f111";
$font-Flaticon-019-trophy: "\f112";
$font-Flaticon-020-medal: "\f113";
$font-Flaticon-021-medal: "\f114";
$font-Flaticon-022-medal: "\f115";
$font-Flaticon-023-medal: "\f116";
$font-Flaticon-024-medal: "\f117";
$font-Flaticon-025-badge: "\f118";
$font-Flaticon-026-medal: "\f119";
$font-Flaticon-027-flag: "\f11a";
$font-Flaticon-028-medal: "\f11b";
$font-Flaticon-029-medal: "\f11c";
$font-Flaticon-030-badge: "\f11d";
$font-Flaticon-031-diploma: "\f11e";
$font-Flaticon-032-trophy: "\f11f";
$font-Flaticon-033-medal: "\f120";
$font-Flaticon-034-badge: "\f121";
$font-Flaticon-035-winner: "\f122";
$font-Flaticon-036-medal: "\f123";
$font-Flaticon-037-medal: "\f124";
$font-Flaticon-038-trophy: "\f125";
$font-Flaticon-039-medal: "\f126";
$font-Flaticon-040-diamond: "\f127";
$font-Flaticon-041-badge: "\f128";
$font-Flaticon-042-sheriff-badge: "\f129";
$font-Flaticon-043-medal: "\f12a";
$font-Flaticon-044-trophy: "\f12b";
$font-Flaticon-045-badge: "\f12c";
$font-Flaticon-046-medal: "\f12d";
$font-Flaticon-047-badge: "\f12e";
$font-Flaticon-048-medal: "\f12f";
$font-Flaticon-049-trophy: "\f130";
$font-Flaticon-050-badge: "\f131";