<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="inicio.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo/logo-pinheiro-unicred-preto.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo/unicred-preto.png" alt="" height="17">
                    </span>
                </a>

                <a href="inicio.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo/logo-pinheiro-unicred-branco.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo/logo-unicred-branco.svg" alt="" height="25">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

        </div>
        <a href="ranking-geral.html" class="linkCarousel">
            <div class="carousel-align ">
                <div id="carouselRanking" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <span class="img-fluid badge badge-soft-dark">Ranking</span>
                            <span class="img-fluid badge badge-soft-success">Grupo 0</span>
                            <span class="img-fluid"><i class="bx bxs-trophy first"></i> Canoas <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy second"></i> Guaíba <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy third"></i> Lajeado </span>
                        </div>
                        <div class="carousel-item">
                            <span class="img-fluid badge badge-soft-dark">Ranking</span>
                            <span class="img-fluid badge badge-soft-success">Grupo 1</span>
                            <span class="img-fluid"><i class="bx bxs-trophy first"></i> Marau <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy second"></i> Venâncio <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy third"></i> Projeta </span>
                        </div>
                        <div class="carousel-item">
                            <span class="img-fluid badge badge-soft-dark">Ranking</span>
                            <span class="img-fluid badge badge-soft-success">Grupo 2</span>
                            <span class="img-fluid"><i class="bx bxs-trophy first"></i> Capão da Canoa <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy second"></i> Porto Alegre <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy third"></i> Casca </span>
                        </div>
                        <div class="carousel-item">
                            <span class="img-fluid badge badge-soft-dark">Ranking</span>
                            <span class="img-fluid badge badge-soft-success">Grupo 3</span>
                            <span class="img-fluid"><i class="bx bxs-trophy first"></i> Gramado <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy second"></i> Caruaru <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy third"></i> Recife</span>
                        </div>
                        <div class="carousel-item">
                            <span class="img-fluid badge badge-soft-dark">Ranking</span>
                            <span class="img-fluid badge badge-soft-success">Grupo 4</span>
                            <span class="img-fluid"><i class="bx bxs-trophy first"></i> Mãe de Deus <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy second"></i> Bento Gonçalves <span
                                    class="separador"></span></span>
                            <span class="img-fluid"><i class="bx bxs-trophy third"></i> Fortaleza </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="d-flex">
            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-solar-panel"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                    <div class="px-lg-2">
                        <div class="row g-0">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/companies/img-1.png" alt="dropbox">
                                    <span>Crédito</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/companies/img-2.png" alt="dropbox">
                                    <span>Investimentos</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/companies/img-3.png" alt="dropbox">
                                    <span>Seguros</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-5.jpg"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1" key="t-henry">Usuário</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                            key="t-profile">Perfil</span></a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i
                            class="bx bx-wrench font-size-16 align-middle me-1"></i> <span
                            key="t-settings">Config</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="login.html"><i
                            class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                            key="t-logout">Sair</span></a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect">
                    <div>
                        <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" hidden
                            checked>
                        <label onclick="toggle()" class="form-check-label" for="light-mode-switch"><i
                                class="bx bxs-moon" id="labelSwitch"></i></label>
                    </div>
                </button>
            </div>

            <script>
                function toggle() {
                    if (document.getElementById("labelSwitch").className == "bx bxs-moon")
                        document.getElementById("labelSwitch").className = "bx bxs-sun";
                    else
                        document.getElementById("labelSwitch").className = "bx bxs-moon";
                }
            </script>
        </div>
    </div>
</header>